.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Box{
  width:40%;
  height: 80%;
  border:3px solid black;
  border-radius: 1rem;
  
}
.ChatBox{
  border:1px solid deepskyblue;
  border-radius: 1rem;
  height:95%;
  width: 99%;
 display: flex;
 flex-direction: column;
 overflow: auto;
 background-color: deepskyblue;
 
}
.Chat{
  align-items: center;
  border:3px solid whitesmoke;
  border-radius: 1rem;
  background-color: skyblue;

  
  display: grid;
  grid-template-columns: minmax(10px, max-content) 1fr;
  width: 350px;
  margin : 3px;
}


.ChatName{
  font-weight: bold;
  margin-left: 10px;

}
.ChatLog{
  margin-left:30px;
  background-color: whitesmoke;
  border-radius: 0.5rem;
}
.InputBox{
  display: flex;
  height:5%;
  justify-content: center;
  align-items: center;

  
}

.InputText {
  width: 50%;
  border-radius: 3rem;
  margin : 5px
}
.InputName {
  width: 30%;
  border-radius: 3rem;
}